# Git/GitHub
.github/

# Scala/sbt
target/
compile_ascii.txt
compile_output.txt
phase7_output.txt
project/project/
project/target/
.cache/
.history/
.lib/
.metals/
.bloop/
.bsp/
.vscode/

# Java/Maven/Hadoop
*.class
*.jar
*.war
*.ear
winutils.exe

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Project Specific
data/

# Windows
Thumbs.db
desktop.ini
